*,
a,
a:hover {
	color:$black;
	font-family:$sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration:underline;

	&.no-underline {
		text-decoration:none;
	}
}

body {
	background-color:$ambient;

	&.no-scroll {
		overflow: hidden;
	}
}

strong {
	font-weight:bold;
}

.gauge-container {
	max-width:300px;
	position: relative;

	.gauge-container-gauge {
		position: relative;
		display: block;
    
	    circle { 
	    	stroke-width: 15; 
	    }

		.gauge-container-rail { 
			stroke: $light-grey;
			fill: transparent; 
		}

		.gauge-container-progress {
			fill: transparent;
			stroke: $grey; 
			stroke-linecap: round;

		}

	}

	.gauge-container-label {
		font-size:24px;
		font-weight:800;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.small {
			font-size:12px;
			text-align:center;
			display:block;
		}

	}

	&.fail  {

		.gauge-container-progress { 
			stroke: $red; 
		}

		.gauge-container-label { 
			color: $red; 
		}
	}

	&.pass  {

		.gauge-container-progress { 
			stroke: $green; 
		}

		.gauge-container-label { 
			color: $green; 
		}
	}

}

.theme-button {
	border:0;
	background-color: $black;
	color: $white;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	line-height: 40px;
	display: inline-block;
	width: auto;
	height: auto;
	margin:0;
	padding:0 20px;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	overflow-x: hidden;
	border-radius:12px;

	&:link,
	&:visited {
	   background: $black;
	   color: $white;
	}

	&:active,
	&:focus,
	&:hover {
	   background: $grey;
	   color: $black;
	}

	&.full-width {
		display:block;
	}

	&.white {
		background-color:$white;
		color:$black;
	}
}

.theme-headline {
	@extend %headline;
	color:$black;

	&.h1 {
		@extend %h1;
	}

	&.h2 {
		@extend %h2;
	}

	&.h3 {
		@extend %h3;
	}

	&.h4 {
		@extend %h4;
	}

	&.h5 {
		@extend %h5;
	}

	&.h6 {
		@extend %h6;
	}
}

.theme-main {
	padding:120px 0;
}

.theme-nav-gauge {
	width:100%;
	position: relative;

	.gauge-container-gauge {
		position: relative;
		display: block;
    
	    circle { 
	    	stroke-width: 15; 
	    }

		.gauge-container-rail { 
			stroke: $light-grey;
			fill: transparent; 
		}

		.gauge-container-progress {
			fill: transparent;
			stroke: $grey; 
			stroke-linecap: round;

		}

	}

	.gauge-container-label {
		font-size:20px;
		font-weight:800;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

	&.fail  {

		.gauge-container-progress { 
			stroke: $red; 
		}

		.gauge-container-label { 
			color: $red; 
		}
	}

	&.pass  {

		.gauge-container-progress { 
			stroke: $green; 
		}

		.gauge-container-label { 
			color: $green; 
		}
	}

}

.theme-paragraph {
	@extend %paragraph;
}

.theme-opportunities-navigator {
	border-top:1px $border-grey solid;
	padding:40px;
	margin-top:32px;

	.theme-opportunities-navigator-headline {
		margin-bottom:20px;
	}

	ul {
		list-style:none;
		margin:0;
		padding:0;

		li {
			margin:0;
			padding:12px 0;
		}
	}
}

.theme-opportunities-navigator-list {
	border-right:1px $border-grey solid;

	ul {
		list-style:none;
		margin:0;
		padding:0;

		li {
			border-top:1px $border-grey solid;
			margin:0;
			padding:0;
		}
	}

	.theme-opportunities-navigator-list-item {
		padding:20px 12px;
		cursor:pointer;
		@include transition(all,0.2s,ease-in-out);

		&.active {
			background-color:$ambient;
		}
	}
}

.theme-opportunity {
	display:none;

	&.active {
		display:block;
	}

	.theme-opportunity-description {
		font-size:12px;
	}

	.theme-opportunity-headline {}

	.theme-opportunity-overalls {
		display:flex;
		justify-content:flex-start;
		align-items:center;
		margin-top:32px;

		.theme-opportunity-overall {
			margin-left:32px;

			&:first-child {
				margin-left:0;
			}
		}
	}
}

.theme-performance-summary {

	.theme-performance-summary-gauge {
		width:100%;
	}
}

.theme-performance-summary-bullets {
	.theme-performance-summary-bullets-bullet {
		margin-bottom:20px;

		&:first-child {
			margin-top:0;
		}
	}
}

.theme-print-action {
	text-align: center;
	margin-top:40px;
}

.theme-rte {

	* {
		color:$black;
	}

	p {
		@extend %paragraph;
	}

	ul {
		list-style:disc;

		li {
			font-size:16px;
			font-weight:400;
			line-height:24px;
		}
	}
}

.theme-section {
	background-color:$white;
	padding:48px 0;
	border-radius:12px;
	box-shadow:0 0 32px rgba(0,0,0,0.1);
	margin-top:40px;

	&:first-child {
		margin-top:0;
	}

	.theme-section-inset {
		padding-left: 48px;
		padding-right: 48px;
	}
}

.theme-section-headline {
	border-bottom:1px $border-grey solid;
	margin-bottom:20px;
	padding-bottom:20px;
}

.theme-side-nav {
	padding-top:40px;

	.theme-side-nav-gauge {
		padding:0 8px;
	}

	.theme-side-nav-label {
		font-size:12px;
		text-align:center;
		margin-top:4px;
	}

	ul {
		list-style:none;
		margin:0;
		padding:0;

		li {
			margin:0;
			padding:0;
		}
	}
}

.theme-stat-bullet {
	display:flex;
	align-items:center;
	justify-content:flex-start;

	.theme-stat-bullet-description {
		font-size:14px;
		text-align:left;
	}

	.theme-stat-bullet-headline {
		font-size:24px;
		font-weight:800;
		font-style:italic;
		text-align:left;
		margin:0 0 4px 0;
	}

	.theme-stat-bullet-stat {
		color:$light-grey;
		font-size:40px;
		font-weight:800;
		text-align:left;
		width:100px;
		margin-right:12px;

		&.fail {
			color:$red;
		}

		&.pass {
			color:$green;
		}
	}
}

.theme-stat-node {
	border:1px $border-grey solid;
	background-color:$white;
	padding:12px 20px;
	border-radius:12px;

	&.fail {
		border-color:$red;

		.theme-stat-node-stat {
			color:$red;
		}
	}

	&.pass {
		border-color:$green;
		
		.theme-stat-node-stat {
			color:$green;
		}
	}

	.theme-stat-node-description {
		font-size:16px;
		font-weight:400;
		text-align:center;
	}

	.theme-stat-node-stat {
		font-size:32px;
		font-style:italic;
		font-weight:800;
		text-align:center;
	}
}

.theme-table {
	border:1px $border-grey solid;
	width:100%;
	margin:20px 0 32px 0;
	border-radius:12px;
	border-collapse: separate !important;

	tr {

		&:first-child {
			td,
			th {
				border:none;
			}
		}

		td,
		th {
			border-top:1px $border-grey solid;
			padding:12px 20px;
		}

		td {
			font-size:14px;
			font-weight:400;

			img {
				width:100%;
				max-width:200px;
			}
		}

		th {
			font-size:14px;
			font-weight:700;
		}
	}
}

.theme-text {
	@extend %paragraph;
	@extend %align-center;
}

.theme-top-toolbar {
	background-color:$black;
	padding:12px 0px;
	position:fixed;
	top:0;
	left:0;
	right:0;
}